

table{
   overflow-y:scroll;
   height:150px;
   display:block;
   text-align: center;
}

#major1form,#major2form,#outsideform{
	width: 350px;
}

h3{
  width: 300px;
}
.count{
  left: 350px;
  height: 50px;
  width: 50px;
  position: absolute;
  border: 3px dashed #99CCCC;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

.count:hover:after{
    content:'MORE';
    color: #99CCCC;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#major1count{
  top: 80px;
}

#major2count{
  top: 330px;
}

#outsidecount{
  top: 580px;
  left: 320px;
}
#graduatecount{
  top: 580px;
  left: 390px;
}

input{
	width: 70px;
}

.canvases{
  position: absolute;
  width: 750px;
  height: 800px;
  left: 500px;
  top: 40px;
  border: 3px dashed #99CCCC;
    border-radius: 10px;
}
#major1canvas,#major2canvas,#outsidecanvas{
  position: absolute;
  height: 240px;
  width: 700px;
  left: 25px;
  border: 3px dashed #99CCCC;
    border-radius: 10px;

}
/*#major1canvas,#major2canvas,#outsidecanvas{
	position: absolute;
	height: 250px;
	width: 700px;
  left:500px;
	border: 3px dashed #99CCCC;
    border-radius: 10px;
}*/
#major1canvas{
	top:10px;
}

#major2canvas{
	top:270px;
}

#outsidecanvas{
	top:530px;
}

.badge {
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: yellow;
  position: absolute;
}

body{
  font-family: "Verdana", Times, Sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalButton{
  position: absolute;
  top: 10px;
  left:1220px;
}

#modalButton {
  background-color:#99cccc;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:14px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  padding:10px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  position: absolute;
  top: 0px;
  left:1180px;
}
#modalButton:hover {
  background-color:#4cc9c9;
}